* {
    margin: 0;
    font-family: 'Fredericka the Great', cursive;
}

body {
    height: 100%;
    width: 100%;
    margin: auto;
    text-align: center;
    background-color: #0084E9;
}

.project_text {
    margin-left: 100px;
    height: 400px;
    width: 750px;
    vertical-align: center;
}