#clock-bg {
    text-align: left;
    margin-top: 40px;
    margin-left: 40px;
}

.ring-0 {
    margin: 0;
    width:31px;
    height:31px;
    vertical-align: middle;
}
.ring-1 {
    margin: 0;
    width:42px;
    height:42px;
    vertical-align: middle;
}
.ring-2 {
    margin: 0;
    width:57px;
    height:57px;
    vertical-align: middle;
}
.ring-3 {
    margin: 0;
    width:114px;
    height:114px;
    vertical-align: middle;
}
.ring-4 {
    margin: 0;
    width:99px;
    height:99px;
    vertical-align: middle;
}
.ring-5 {
    margin: 0;
    width:127px;
    height:127px;
    vertical-align: middle;
}
.ring-6 {
    margin: 0;
    width: 165px;
    height:165px;
    vertical-align: middle;
}
.ring-7 {
    margin-left: -95px;
    margin-bottom: -95px;
    width:61px;
    height:61px;
    vertical-align: middle;
}

.ring-8 {
    margin:0;
    width:218px;
    height:218px;
    vertical-align: middle;
}

.ring-9 {
    margin:0;
    width:284px;
    height:284px;
    vertical-align: middle;
}

.ring-10 {
    margin:0;
    width:315px;
    height:315px;
    vertical-align: middle;
}

.ring-11 {
    margin-left: -65px;
    width:350px;
    height:376px;
    vertical-align: middle;
}

.ring-12 {
    margin:0;
    width:327px;
    height:380px;
    vertical-align: middle;
}

.ring-13 {
    margin:0;
    width:530px;
    height:530px;
    vertical-align: middle;
}

.ring-14 {
    margin-top: -58px;
    width:530px;
    height:530px;
    vertical-align: middle;
}

.ring-15 {
    margin:0;
    width: 662px;
    height: 662px;
    vertical-align: middle;
}

.ring-16 {
    margin: 0;
    width: 531px;
    height: 366px;
    vertical-align: middle;
}

.ring-16 {
    margin: 0;
    width: 816px;
    height: 711px;
    vertical-align: middle;
}

.clock {
    margin-top: -750px;
    margin-left: -60px;
    width: 305px;
    height: 312px;
    float: left;
}